html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}


/* fonts */
@font-face {
  font-family: "Finger Paint";
  src: url("/fonts/FingerPaint-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* tailwind utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-title {
    text-shadow: 0px 1px 1px #212121; 
  }
 
}
